<div class="container">
	<div class="row">
		<h1 class="text-center one-meal">Your Favorites</h1>
	</div>

	<div class="row one-meal">
		<div class="col-sm-4 text-center">
			<h2>Minestrone Soup</h2>
			<div class="image-background">
				<%= image_tag("minestrone.jpg", height: "200") %>
			</div>
			<p><button type="button" class="btn btn-try-again">Unfavorite</button><p>			
		</div>
	
		<div class="col-sm-4 text-center">
			<h2>Taco Salad</h2>
			<div class="image-background">
				<%= image_tag("taco-salad.jpg", height: "200") %>
			</div>
			<p><button type="button" class="btn btn-try-again">Unfavorite</button></p>
		</div>

		<div class="col-sm-4 text-center">
			<h2>BBQ</h2>
			<div class="image-background">
				<%= image_tag("bbq-plate.jpg", height: "200") %>
			</div>
			<p><button type="button" class="btn btn-try-again">Unfavorite</button></p>
		</div>
	</div>

	
	<div class="row one-meal">
		<div class="col-sm-4 text-center">
			<h2>Minestrone Soup</h2>
			<div class="image-background">
				<%= image_tag("minestrone.jpg", height: "200") %>
			</div>
			<p><button type="button" class="btn btn-try-again">Unfavorite</button><p>			
		</div>
	
		<div class="col-sm-4 text-center">
			<h2>Taco Salad</h2>
			<div class="image-background">
				<%= image_tag("taco-salad.jpg", height: "200") %>
			</div>
			<p><button type="button" class="btn btn-try-again">Unfavorite</button></p>
		</div>

		<div class="col-sm-4 text-center">
			<h2>BBQ</h2>
			<div class="image-background">
				<%= image_tag("bbq-plate.jpg", height: "200") %>
			</div>
			<p><button type="button" class="btn btn-try-again">Unfavorite</button></p>
		</div>
	</div>


</div>
