<div class="container text-center col-sm-4 col-sm-offset-4">
	<h1>Create An Account</h1>

<div class="form-group ">
	<%= form_for :user do |f| %>
		<p><%= f.label :user_name, "User Name", class: 'user-form-label' %>
			 <%= f.text_field :user_name %></p>
		<p><%= f.label :email, class: 'user-form-label' %>  
			 <%= f.text_field :email %></p>
		<p><%= f.label :password, class: 'user-form-label' %>
			 <%= f.text_field :password %></p>
		<p><%= f.label :password_confirmation, "Password Confirmation", class: 'user-form-label' %>
			 <%= f.text_field :password_confirmation %></p>
		<p><%= f.submit "Submit", class: "btn btn-default" %></p>
	<% end %>
</div>
</div>