<div class="row" id="hero-image">
	<div id="front-page-signup">
		<h1 class="front-page-text text-center">DeListcious</h1>
		<h4 class="front-page-text" id="front-page-tagline">Meal Plans in One Click</h4>
		<div class="col-xs-4 col-xs-offset-4" id="front-page-input">
			<%= form_for :user do |f| %>
				<%= f.text_field :email, placeholder: "Enter Your Email", class: "form-control" %>
				<%= f.submit 'Submit', class: "btn btn-default", id: "submit-btn" %>
			<% end %>
		</div>
	</div>
</div>

<div class="row"> 
	<div class="col-sm-4 front-page-description front-row">
		<div class="col-sm-3 text-center">
			<%= image_tag("white-wheat.png", height: "80", class: "text-center") %>
		</div>
		<div class="col-sm-9">
			<h4>Enter your dietary restrictions</h4>
		</div>
	</div>

	<div class="col-sm-4 front-page-description">
		<div class="col-sm-3 text-center">
			<%= image_tag("fork-knife-white.png", height: "80", class: "text-center") %>
		</div>
		<div class="col-sm-9">
			<h4>Let us know how many meals you would like</h4>
	 	</div>
	</div>

	<div class="col-sm-4 front-page-description front-row">
		<div class="col-sm-3 text-center">
			<%= image_tag("list_ingredients.png", height: "80", class: "text-center") %>
		</div>
		<div class="col-sm-9">
			<h4>We'll give you a meal plan and grocery list!</h4>
		</div>
	</div>
</div>