<div class="container">
	<h1 class="text-center">Plan a Meal</h1>

	<div class="account-tabs">
		  <div class="row text-center">
		  	<h3>Foods I Avoid</h3>
		  </div>
	  
			<div class="container text-center">
			  <div id="hated-foods-list" class="tab-content">
					<button type="button" class="btn btn-default" id="veggie-header">Fruits & Veggies</button>
					<button type="button" class="btn btn-default" id="protein-header">Meat & Legumes</button>
					<button type="button" class="btn btn-default" id="grains-header">Grains</button>
			  	
					<div class="col-xs-12 hated-food hidden" id="veggies">
				 		<button type="button" class="btn btn-success"><%= "Broccoli" %></button>
						<button type="button" class="btn btn-success"><%= "Sprouts" %></button>	
						<button type="button" class="btn btn-success"><%= "Cauliflower" %></button>	
						<button type="button" class="btn btn-success"><%= "Kale" %></button>	
						<button type="button" class="btn btn-success"><%= "Parsnips" %></button>	
				 	</div>

					<div class="col-xs-12 hated-food hidden" id="protein">
				 		<button type="button" class="btn btn-success"><%= "Pork" %></button>
						<button type="button" class="btn btn-success"><%= "Tofu" %></button>	
						<button type="button" class="btn btn-success"><%= "Kidney Beans" %></button>	
						<button type="button" class="btn btn-success"><%= "Seitan" %></button>	
						<button type="button" class="btn btn-success"><%= "Peanuts" %></button>	
					</div>

					<div class="col-xs-12 hated-food hidden" id="grains">
					 	<button type="button" class="btn btn-success"><%= "Quinoa" %></button>
						<button type="button" class="btn btn-success"><%= "Rye" %></button>	
						<button type="button" class="btn btn-success"><%= "Wheat" %></button>	
						<button type="button" class="btn btn-success"><%= "Amaranth" %></button>	
						<button type="button" class="btn btn-success"><%= "Oats" %></button>	 	
					</div>
				</div>
			</div>
		</div>

		<div class="account-tabs">
			<h3 class="text-center">How Many Favorites Should We Include?</h3>
		</div>

		<div></div>
	</div>
</div>
