<div class="container">
	<h1 class="text-center">Plan Your Meals</h1>

	<div class="account-tabs">
		  <div class="row text-center">
		  	<h3>Foods I Avoid</h3>
		  </div>

			<div class="text-center">
			  <div id="hated-foods-list">
					<button type="button" class="btn btn-try-again" id="specific-food-header">Specific Foods</button>
					<button type="button" class="btn btn-try-again" id="allergy-header">Add An Allergy</button>
					<button type="button" class="btn btn-try-again" id="diet-header">Add A Diet</button>
					<button type="button" class="btn btn-try-again" id="cuisine-header">Ban A Cuisine</button>
			  	
					<div class="col-xs-12 hated-food hidden" id="specific-food">
						<%= render "banned_foods/new" %>
						 
				 		<div id="banned-food-list" class="text-center">
					 		<% if @banned_foods %>
								<% @banned_foods.each do |food| %>
									<button type="button" class="btn btn-danger one-banned-food" data-id="<%= food.id %>"><%= food.name %></button>
								<% end %>		
							<% end %>					
				 		</div>
				 </div>

					<div class="col-xs-12 hated-food hidden" id="allergy">
						<% @allergies.each do |allergy| %>
							<button type="button" class="btn btn-hate-it" data-id="<%= allergy.id %>">
								<%= allergy.name %></button>
						<% end %>
					</div>

					<div class="col-xs-12 hated-food hidden" id="diet">
					 	<% @diets.each do |diet| %>
							<button type="button" class="btn btn-hate-it" data-id="<%= diet.id %>">
								<%= diet.name %></button>
						<% end %>	 	
					</div>

					<div class="col-xs-12 hated-food hidden" id="cuisine">
					 	<% @cuisines.each do |cuisine| %>
							<button type="button" class="btn btn-hate-it" data-id="<%= cuisine.id %>">
								<%= cuisine.name %></button>
						<% end %>	 	
					</div>
				</div>
			</div>

				<%= form_for(:meal, url: meals_path, method: :post) do |f| %>
					<div class="row">
						<h4 class="text-center" id="favorite-number">Do you want to include any favorites? <%= image_tag("arrowdown.png", height: "20") %></h4>
		 				 <div class="col-sm-2 col-sm-offset-5 hidden text-center" id="favorite-number-selection">
		 				 	<%= f.select :fave_num, options_for_select(0..10), class: "form-control text-center" %>
		 				 </div>
					</div>
					<div class="row">
						<h4 class="text-center" id="meal-number">How many meals would you like? <%= image_tag("arrowdown.png", height: "20") %>
						</h4>
	 				  <div class="col-sm-2 col-sm-offset-5 hidden text-center" id="meal-number-selection">
		 				  <%= f.select :meal_num, options_for_select(1..10), class: "form-control text-center" %>
	 				  </div>
					</div>
		 			<div class="row text-center">
						 <p><%= f.submit "Get Your Meal Plan", class: "btn btn-hate-it", id: "get-plan-btn" %></p>
					</div>
				<% end %>

		</div>
	</div>
</div>
