<div class="container">
	<h1 class="text-center">Plan Your Meals</h1>

	<div class="account-tabs">
		  <div class="row text-center">
		  	<h3>Foods I Avoid</h3>
		  </div>

			<div class="container text-center">
			  <div id="hated-foods-list" class="tab-content">
					<button type="button" class="btn btn-try-again" id="specific-food-header">Specific Foods</button>
					<button type="button" class="btn btn-try-again" id="allergy-header">Add An Allergy</button>
					<button type="button" class="btn btn-try-again" id="diet-header">Add A Diet</button>
			  	
					<div class="col-xs-12 hated-food hidden" id="specific-food">
				 		<%= form_for(:banned_food, url: banned_foods_path, method: :post) do |f| %>

				 			<%= f.label :name, "Food to Exclude (ex: banana)" %>
				 			<%= f.text_field :name %>
				 			<%= f.submit "Submit", class: "btn btn-default" %>
				 		<% end %>
				 		<div id="banned-food-list">
					 		<% if @banned_foods %>
								<% @banned_foods.each do |food| %>
									<button type="button" class="btn btn-danger"><%= food.name %></button>
								<% end %>		
							<% end %>					
				 		</div>
				 	</div>

					<div class="col-xs-12 hated-food hidden" id="allergy">
						<% @allergies.each do |allergy| %>
							<button type="button" class="btn btn-hate-it"><%= allergy.name %></button>
						<% end %>
					</div>

					<div class="col-xs-12 hated-food hidden" id="diet">
					 	<% @diets.each do |diet| %>
							<button type="button" class="btn btn-hate-it"><%= diet.name %></button>
						<% end %>	 	
					</div>
				</div>
			</div>

			<div class="row">
				<p class="text-center">How Many Favorites Should We Include?</p>
 				 <div class="col-sm-2 col-sm-offset-5">
	 				 <select name="post[meals]" class="form-control text-center">
	 				 		<option value="0">None</option>
	 				 		<option value="1">1</option>
	 				 		<option value="2">2</option>
	 				 		<option value="3">3</option>
	 				 		<option value="4">4</option>
	 				 		<option value="5">5</option>
	 				 		<option value="6">6</option>
	 				 </select>
 				 </div>
			</div>
			<div class="row text-center"
				<p><%= link_to "Get Your Meal Plan", root_path, class: "btn btn-hate-it", id: "get-plan-btn" %></p>
			</div>

			</div>

	</div>
</div>
