<div class="container">
	<h1 class="text-center">Plan Your Meals</h1>

	<div class="account-tabs">
		  <div class="row text-center">
		  	<h3>Foods I Avoid</h3>
		  </div>

			<div class="container text-center">
			  <div id="hated-foods-list" class="tab-content">
					<button type="button" class="btn btn-try-again" id="veggie-header">Fruits & Veggies</button>
					<button type="button" class="btn btn-try-again" id="protein-header">Meat & Legumes</button>
					<button type="button" class="btn btn-try-again" id="grains-header">Grains</button>
			  	
					<div class="col-xs-12 hated-food hidden" id="veggies">
				 		<button type="button" class="btn btn-hate-it"><%= "Broccoli" %></button>
						<button type="button" class="btn btn-hate-it"><%= "Sprouts" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Cauliflower" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Kale" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Parsnips" %></button>	
				 	</div>

					<div class="col-xs-12 hated-food hidden" id="protein">
				 		<button type="button" class="btn btn-hate-it"><%= "Pork" %></button>
						<button type="button" class="btn btn-hate-it"><%= "Tofu" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Kidney Beans" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Seitan" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Peanuts" %></button>	
					</div>

					<div class="col-xs-12 hated-food hidden" id="grains">
					 	<button type="button" class="btn btn-hate-it"><%= "Quinoa" %></button>
						<button type="button" class="btn btn-hate-it"><%= "Rye" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Wheat" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Amaranth" %></button>	
						<button type="button" class="btn btn-hate-it"><%= "Oats" %></button>	 	
					</div>
				</div>
			</div>

			<div class="row">
				<p class="text-center">How Many Favorites Should We Include?</p>
 				 <div class="col-sm-2 col-sm-offset-5">
	 				 <select name="post[meals]" class="form-control text-center">
	 				 		<option value="0">None</option>
	 				 		<option value="1">1</option>
	 				 		<option value="2">2</option>
	 				 		<option value="3">3</option>
	 				 		<option value="4">4</option>
	 				 		<option value="5">5</option>
	 				 		<option value="6">6</option>
	 				 </select>
 				 </div>
			</div>
			<div class="row text-center"
				<p><%= link_to "Get Your Meal Plan", root_path, class: "btn btn-hate-it", id: "get-plan-btn" %></p>
			</div>

			</div>

	</div>
</div>
